@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("DM Sans Regular"), local("DMSans-Regular"), url(https://fonts.gstatic.com/s/dmsans/v3/rP2Hp2ywxg089UriCZOIHQ.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }

html {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 200ms; }

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  background-color: whitesmoke;
  color: #555555; }

.main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0px 0px 0px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(199, 199, 199, 0.5); }
  .main__photo {
    width: 186px;
    height: 192px;
    margin-right: 20px;
    border-radius: 3px; }

.info-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .info-block__name {
    font-family: "DM Sans", calibri, sans-serif;
    font-size: 52px;
    font-weight: 500;
    text-align: left; }
  .info-block__job {
    font-family: "DM Sans", calibri, sans-serif;
    font-size: 17px;
    text-align: left; }
  .info-block__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px; }
    .info-block__social img {
      width: 40px;
      height: 40px; }

.download-cv {
  width: 25px;
  position: absolute;
  top: 20px;
  right: 20px; }

.spoiler-list {
  height: 75px;
  margin: 15px 0px 0px 0px;
  overflow: hidden;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 0 20px rgba(199, 199, 199, 0.5);
  transition: height 200ms; }
  .spoiler-list__info {
    padding: 0 60px;
    padding-bottom: 30px;
    font-family: "DM Sans", calibri, sans-serif;
    font-size: 20px;
    line-height: 22px;
    text-indent: 20px; }
    .spoiler-list__info ol {
      margin-top: 25px;
      font-family: "DM Sans", calibri, sans-serif;
      font-size: 23px;
      font-weight: 600; }
    .spoiler-list__info li {
      margin-top: 5px;
      font-family: "DM Sans", calibri, sans-serif;
      font-size: 20px; }

.control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  padding: 10px 20px; }
  .control:hover {
    cursor: pointer; }
  .control__span {
    font-family: "DM Sans", calibri, sans-serif;
    font-size: 28px; }
  .control__spoiler {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px; }
    .control__spoiler--left {
      margin-left: 4px;
      width: 20px;
      height: 3px;
      background-color: #555555;
      transform: rotate(30deg);
      transition: all 200ms; }
    .control__spoiler--right {
      margin-left: -4px;
      width: 20px;
      height: 3px;
      background-color: #555555;
      transform: rotate(-210deg);
      transition: all 200ms; }
    .control__spoiler--left-close {
      margin-left: 4px;
      width: 20px;
      height: 3px;
      background-color: #555555;
      transform: rotate(-30deg);
      transition: all 200ms; }
    .control__spoiler--right-close {
      margin-left: -4px;
      width: 20px;
      height: 3px;
      background-color: #555555;
      transform: rotate(-150deg);
      transition: all 200ms; }

.projects {
  position: relative;
  height: 100%;
  margin: 15px 0px;
  padding: 20px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 0 20px rgba(199, 199, 199, 0.5); }
  .projects__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px; }
    .projects__heading h2 {
      font-family: "DM Sans", calibri, sans-serif;
      font-size: 28px; }

.slider {
  height: auto;
  position: relative;
  margin: 0 5%;
  overflow: hidden; }
  .slider__wrapper {
    position: relative;
    display: flex;
    left: 0px;
    height: 100%;
    transition: left 0.6s cubic-bezier(0.87, 0, 0.13, 1); }
  .slider__dots {
    height: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center; }

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: black;
  margin: 0 2px;
  opacity: .2;
  transition: opacity 0.6s cubic-bezier(0.87, 0, 0.13, 1); }

.dot-selected {
  opacity: .6;
  transition: opacity 0.6s cubic-bezier(0.87, 0, 0.13, 1); }

.slider-navigation {
  width: 20px;
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "DM Sans", calibri, sans-serif;
  font-size: 40px;
  user-select: none; }

.prev {
  left: 20px; }

.next {
  right: 20px; }

.project {
  min-width: 90%;
  padding: 0 5%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white; }
  .project__description-wrapper {
    display: block;
    max-width: 45%; }
    .project__description-wrapper h2 {
      margin-bottom: 30px;
      font-size: 26px;
      font-family: "DM Sans", calibri, sans-serif; }
    .project__description-wrapper p {
      margin-bottom: 15px;
      font-size: 20px;
      font-family: "DM Sans", calibri, sans-serif; }
  .project__description {
    font-style: italic; }
  .project__link {
    font-family: "DM Sans", calibri, sans-serif;
    text-decoration: none; }
    .project__link:hover {
      border-bottom: 1px solid #000;
      transform: scale3d(2); }
  .project__preview-wrapper {
    max-width: 332px;
    max-height: 461px;
    overflow: hidden; }
  .project__preview {
    width: 100%;
    transition: all 0.2s; }
    .project__preview:hover {
      cursor: pointer;
      transform: scale(1.05); }

.links {
  display: flex; }
  .links__button {
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    padding: 5px;
    overflow: hidden; }
    .links__button:hover div {
      transform: translateX(-60%); }
    .links__button a {
      font-family: "DM Sans", calibri, sans-serif;
      font-size: 20px;
      text-decoration: none;
      margin-bottom: 3px;
      z-index: 1; }
    .links__button div {
      width: 100%;
      height: 50px;
      margin-top: -48px;
      border-bottom: 2px solid black;
      background-color: #dadada;
      transform: translateX(110%);
      transition: transform 300ms;
      z-index: 0; }

.footer {
  margin-bottom: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(199, 199, 199, 0.5); }
  .footer p {
    font-family: "DM Sans", calibri, sans-serif;
    font-size: 16px;
    color: #555555; }

.icon-hover {
  cursor: pointer; }
  .icon-hover:hover {
    transform: scale(1.2);
    transition: all 200ms; }
  .icon-hover:active {
    transform: scale(1.1);
    transition: all 100ms; }

@media screen and (max-width: 1010px) {
  .project {
    justify-content: space-around; }
    .project__description-wrapper {
      max-width: 100%; } }

@media screen and (max-width: 720px) {
  .main {
    flex-direction: column;
    align-items: center; }
  .info-block__name {
    text-align: center;
    margin-top: 10px; } }

@media screen and (max-width: 480px) {
  body {
    width: 100%; }
  .main {
    justify-content: center; }
    .main__photo {
      margin-right: 0; }
  .projects button {
    display: block; }
  .project__description-wrapper {
    width: 75%;
    padding: 5px;
    position: absolute;
    top: 50%;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: whitesmoke;
    transform: translate(0, -50%);
    opacity: 0.95;
    z-index: 10; }
    .project__description-wrapper h2 {
      font-size: 5vw; }
    .project__description-wrapper p {
      font-size: 4vw; }
  .footer p {
    text-align: center; }
  .mobile-active {
    display: flex;
    justify-content: center; } }
