.footer {
    display: flex;
    align-items: center;
    height: 76px;
    width: 100%;
    background-color: #4c4c4c;
    box-shadow: -0.105px -2.998px 5px rgba(0,0,0,0.75);
}
.footer-text {
    font-size: 29px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: "Lucida Sans";
    font-style: italic;
    text-align: center;
}
.footer-logo {
    margin-left: 140px;
}
.footer-logo-1 {
    position: absolute;
}
.footer-logo-2 {
    margin-left: 2px;
    margin-top: 2px;
}